<section class="container page">
  <article>
    <header>
      <h1 class="title">
        <a class="title-link" href="{{ .Permalink | safeURL }}">
          {{ .Title }}
        </a>
      </h1>
    </header>



    <style>
    .box {
      display: flex;
      gap: 8px;
      flex-direction: column;
      margin-left: 30px;
    }
      </style>

    <div class="box" style="float: right">
      {{ with .Site.Params.avatarabout }}
      <img src="{{ . | relURL }}" style="position: static; width:300px; z-index:-1"></div>
      {{ end }}

    {{ .Content }}


    


  </article>
</section>
