/* Custom CSS */
body {
    font-family: 'Source Sans 3', sans-serif;
}

h1, h2, h3 {
    font-family: 'Source Sans 3', sans-serif;
}
/* Add more custom styles as needed */

code.has-jax {
    -webkit-font-smoothing: antialiased;
    background: inherit !important;
    border: none !important;
    font-size: 100%;
}

.about h1 {
    font-size: 3.6rem !important;
    font-weight: 7000;
    margin-top: 1rem;
  }

/* .container.centered .about img.avatar {
    width: 280px !important;
    height: 280px !important;
    max-width: none !important;
    max-height: none !important;
    object-fit: cover;
    object-position: center;
    border-radius: 25%;
    display: block;
    margin: 0 auto;
  }
   */