/* Custom CSS */
body {
    font-family: 'Source Sans 3', sans-serif;
}

h1, h2, h3 {
    font-family: 'Source Sans 3', sans-serif;
}

p {
    font-family: "Merriweather", serif;
}

code {
    font-family: "Fira Mono";
}

/* Add more custom styles as needed */
