{{ define "title" }}
  {{ title (i18n (lower .Title)) | default .Title }} · {{ .Site.Title }}
{{ end }}
{{ define "content" }}
  <section class="container list">
    <header>
      <h1 class="title">
        <a class="title-link" href="{{ .Permalink | safeURL }}" style="font-size: 22px">
          {{ title (i18n (lower .Title)) | default .Title }}
        </a>
      </h1>
    
      <p>This is where I occasionally post my attempts to concisely and coherently write to understand and explain the math behind key machine learning concepts — and sometimes my thoughts on other topics. Feedback is welcome!</p>

    </header>
    {{ .Content }}
    <ul>
      {{- range .Paginator.Pages -}}
        {{- .Render "li" -}}
      {{- end -}}
    </ul>

    {{ partial "pagination.html" . }}
  </section>
{{ end }}
