<section class="container list">
  <header>
    <h1 class="title">
      <a class="title-link" href="{{ .Permalink | safeURL }}"  style="font-size: 22px; margin-left: 75px">
        {{- if eq .Kind "term" -}}
          {{- i18n .Data.Plural 1 | title -}}
          {{- print ": " -}}
        {{- end -}}
        {{- i18n (lower .Title) | default .Title | title -}}
      </a>
    </h1>

    {{ if eq .Title "Posts" }}
    <p style="margin-left: 75px; font-size: 16px; max-width: 600px;">
      Here is where I occasionally post my writing attempts to understand the math behind some key machine learning concepts and maybe my thoughts on other things too.
    </p>
  {{ end }}
 
  </header>
  {{ .Content }}
  <ul>
    {{ range .Paginator.Pages }}
    <li>
      <span class="date">{{ .Date | time.Format (.Site.Params.dateFormat | default "January 2, 2006" ) }}</span>
      <a class="title" href="{{ .Params.externalLink | default .RelPermalink }}">{{ .Title }}</a>
    </li>
    {{ end }}
  </ul>
  {{ partial "pagination.html" . }}
</section>
