<section class="container page">
  <article>
    <header>
      <h1 class="title">
        <a class="title-link" href="{{ .Permalink | safeURL }}" style="font-size: 22px">
          {{ .Title }}
        </a>
      </h1>
    </header>

    <style>
      .box {
        gap: -50px;
        flex-direction: column;
        margin-left: 0px;
      }
    </style>

    <div class="box">
      {{ with .Site.Params.avatarabout }}
        <img src="{{ . | relURL }}" style="position: static; width:200px">
      {{ end }}
    </div>

    <div class="box">
      {{ .Content }}
    </div>
  </article>
</section>
