{{ define "title" }}
  {{ title (i18n (lower .Title)) | default .Title }} · {{ .Site.Title }}
{{ end }}
{{ define "content" }}
  <section class="container list">
    <header>
      <h1 class="title">
        <a class="title-link" href="{{ .Permalink | safeURL }}" style="font-size: 24px">
          {{ title (i18n (lower .Title)) | default .Title }}
        </a>
      </h1>
            <img src="/images/this-is-fine.jpg" class="header-photo" style="width:250px; height:150px; margin-bottom:0rem;">
      <p>I have many thoughts, so many that I need to digitize and save for future headaches</p>

    </header>
    {{ .Content }}
    <ul>
      {{- range .Paginator.Pages -}}
        {{- .Render "li" -}}
      {{- end -}}
    </ul>

    {{ partial "pagination.html" . }}
  </section>
{{ end }}
